@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url(../font/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url(../font/Lato-Bold.ttf);
}