# Visual Studio Code ignore
.vscode

# Node.js and NPM ignore
node_modules
package-lock.json

# Electron ignore
EditorV2-win32-ia32
EditorV2-win32-x64

# Win Test script
build.bat
run.bat

# Test project
test
